SOACS-soap-interface/ProposedActsService/NewActProposalsServices/SOA/WSDLs/ArtistAPIReference.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ArtistAPIReference"
     targetNamespace="http://xmlns.oracle.com/ProposedActsService/NewActProposalsServices/ArtistAPIReference"
     xmlns:tns="http://xmlns.oracle.com/ProposedActsService/NewActProposalsServices/ArtistAPIReference"
     xmlns:inp1="ArtistAPI"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="ArtistAPIReference">
        <plnk:role name="ArtistAPIReferenceProvider" portType="tns:ArtistAPIReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="ArtistAPI" schemaLocation="../Schemas/ArtistDetailsJSON.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ProposedActsService/NewActProposalsServices/ArtistAPIReference"
             elementFormDefault="qualified">
            <element name="FetchArtistDetails_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="FetchArtistDetails_inputMessage">
        <wsdl:part name="request" element="tns:FetchArtistDetails_params"/>
    </wsdl:message>
    <wsdl:message name="FetchArtistDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:Artist"/>
    </wsdl:message>
    <wsdl:portType name="ArtistAPIReference_ptt">
        <wsdl:operation name="FetchArtistDetails">
            <wsdl:input message="tns:FetchArtistDetails_inputMessage"/>
            <wsdl:output message="tns:FetchArtistDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
