SOACS-soap-interface/ProposedActsService/NewActProposalsServices/SOA/WSDLs/ArtistEnricherAPIReference.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ArtistEnricherAPIReference"
     targetNamespace="http://xmlns.oracle.com/ProposedActsService/NewActProposalsServices/ArtistEnricherAPIReference"
     xmlns:tns="http://xmlns.oracle.com/ProposedActsService/NewActProposalsServices/ArtistEnricherAPIReference"
     xmlns:inp1="http://TargetNamespace.com/ArtistEnricherAPIReference_GetArtistDetails_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="ArtistEnricherAPIReference">
        <plnk:role name="ArtistEnricherAPIReferenceProvider" portType="tns:ArtistEnricherAPIReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://TargetNamespace.com/ArtistEnricherAPIReference_GetArtistDetails_response"
                 schemaLocation="../Schemas/nxsd_EnrichedArtist.xsd"/>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ProposedActsService/NewActProposalsServices/ArtistEnricherAPIReference"
             elementFormDefault="qualified">
            <element name="GetArtistDetails_params">
                <complexType>
                    <sequence>
                        <element name="param1" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="GetArtistDetails_inputMessage">
        <wsdl:part name="request" element="tns:GetArtistDetails_params"/>
    </wsdl:message>
    <wsdl:message name="GetArtistDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:artist"/>
    </wsdl:message>
    <wsdl:portType name="ArtistEnricherAPIReference_ptt">
        <wsdl:operation name="GetArtistDetails">
            <wsdl:input message="tns:GetArtistDetails_inputMessage"/>
            <wsdl:output message="tns:GetArtistDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
