SOACS-soap-interface/ProposedActsService/NewActProposalsServices/SOA/WSDLs/NewActProposalsService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="NewActProposalsService"
     targetNamespace="aced.cloud.demo"
     xmlns:tns="aced.cloud.demo"
     xmlns:acd="aced.cloud.demo"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:acd="aced.cloud.demo" targetNamespace="aced.cloud.demo"
            elementFormDefault="qualified">
            
  <xsd:element name="submitActProposalRequestMessage" type="acd:submitActProposalRequestMessageType"/>
  <xsd:element name="submitActProposalResponseMessage" type="acd:submitActProposalResponseMessageType"/>

  <xsd:complexType name="submitActProposalResponseMessageType">
    <xsd:sequence>
      <xsd:element name="proposedActId" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="submitActProposalRequestMessageType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="numberOfVotes" type="xsd:integer"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="imageURL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="image" type="xsd:base64Binary" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>    </wsdl:types>
    <wsdl:message name="submitActProposalRequest">
        <wsdl:part name="part1" element="acd:submitActProposalRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="submitActProposalResponse">
        <wsdl:part name="part1" element="acd:submitActProposalResponseMessage"/>
    </wsdl:message>
    <wsdl:portType name="NewActProposalsService">
        <wsdl:operation name="submitActProposal">
            <wsdl:input message="tns:submitActProposalRequest"/>
            <wsdl:output message="tns:submitActProposalResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
